<div class="container-fluid">
    <div class="row">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th style="text-align: center;width: 2%" ng-show="$ctrl.userType === '2'"><input type="checkbox" name="selectAll" ng-click="$ctrl.selectAll()"/></th>
                <th class="col-lg-6">标题</th>
                <th class="col-lg-2">发表人</th>
                <th class="col-lg-1">回复数</th>
                <th class="col-lg-1">发表时间</th>
                <th class="col-lg-1">最后回复时间</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in $ctrl.posts.result">
                <td ng-show="$ctrl.userType === '2'" style="text-align: center;width: 2%"><input type="checkbox" name="topicId" value="{{x.topicId}}" ng-click="$ctrl.select(e)"/></td>
                <td class="col-lg-6"><span ng-show="x.digest" style="color:red;margin-right: 5px">★</span><a ng-href="">{{x.topicTitle}}</a>
                </td>
                <td class="col-lg-2">{{x.user.userName}}</td>
                <td class="col-lg-1">{{x.replies}}</td>
                <td class="col-lg-1">{{x.createTime | date:'yyyy-MM-dd'}}</td>
                <td class="col-lg-1">{{x.lastPost | date:'yyyy-MM-dd'}}</td>
            </tr>
            </tbody>
        </table>
        <div class="col-lg-2">
            <ul class="list-inline">
                <li>
                    <button type="button" class="col-lg-1 btn btn-primary btn-block" ng-click="$ctrl.digest()">加 精</button>
                </li>
                <li>
                    <button type="button" class="col-lg-1 btn btn-primary btn-block" ng-click="$ctrl.delete()">删 除</button>
                </li>
            </ul>
        </div>
        <navigator current-page="$ctrl.posts.currentPageNo" has-next="$ctrl.posts.hasNextPage"
                   has-pre="$ctrl.posts.hasPreviousPage"
                   total-page="$ctrl.posts.totalPageCount" total-count="$ctrl.posts.totalPageCount"
                   goto-page="$ctrl.gotoPage(pageNo)"></navigator>
    </div>
</div>