<div class="container-fluid">
    <div class="row">
        <table class="table-bordered col-lg-12" style="margin: 10px 0 10px 0;width: 100%">
            <tbody>
            <tr ng-repeat="x in $ctrl.posts.result" class="col-lg-12 " style="padding: 0;">
                <td id="postLeft" class="col-lg-1" style="text-align: center">
                    <div id="imgDiv" style="text-align:center;">
                        <div style="background:no-repeat url('resources/index.png');background-position: center;background-size:70%;height: 65px;width: 80px;"></div>
                    </div>
                    <div id="infoDiv" style="text-align:center;"><span>{{x.user.userName}}</span></div>
                </td>
                <td id="postRight" class="col-lg-11" style="width: 100%">
                    <div id="postTitle">
                        <ul class="list-unstyled list-inline" style="border-bottom: 1px solid #ddd">
                            <li style="font-size: 18px; font-family: Arial"><strong>{{x.postTitle}}</strong></li>
                            <li style="float: right">
                                <small>发表日期:{{x.createTime | date:'yyyy-MM-dd'}}</small>
                            </li>
                        </ul>
                    </div>
                    <div id="postContent" style="margin-bottom: 50px">{{x.postText}}</div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col-lg-12">
            <navigator current-page="$ctrl.posts.currentPageNo" has-next="$ctrl.posts.hasNextPage"
                       has-pre="$ctrl.posts.hasPreviousPage"
                       total-page="$ctrl.posts.totalPageCount" total-count="$ctrl.posts.totalCount"
                       goto-page="$ctrl.gotoPage(pageNo)"></navigator>
        </div>
        <div class="col-lg-12" style="padding-left: 0">
            <div id="imgReply" style="text-align:center;" class="col-lg-1">
                <div style="background:no-repeat url('resources/index.png');background-position: center;background-size:70%;height: 65px;width: 80px;"></div>
            </div>
            <div>
                <div class="panel panel-info col-lg-4" style="padding: 0px">
                    <div class="panel-heading" style="background-color: #56bfaa">
                        <h5 class="panel-title text-center">REPLY</h5>
                    </div>
                    <div class="panel-body" style="padding: 5px 15px 5px 15px">
                        <form novalidate name="form" role="form" class="form-horizontal">
                            <div class="col-lg-12 has-error"
                                 ng-show="form.$submitted && form.postText.$error.required && form.postTitle.$error.required">
                                <p style="text-align: center;margin-bottom: 5px " class="control-label class=col-lg-12">
                                    title and content can't be empty!</p>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">title:</label>
                                <div class="col-lg-6">
                                    <input type="text" required="required" name="postTitle" ng-model="$ctrl.postTitle"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">content:</label>
                                <div class="col-lg-6">
                                    <textarea required="required" name="postText" ng-model="$ctrl.postText"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-offset-8 col-lg-4">
                                <input ng-click="$ctrl.reply()" type="submit"
                                       class="btn btn-primary btn-block" value="submit"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>